 /* <!--[if IE]>
 <style>
 .el-scrollbar__wrap{
  scrollbar-width: none;
}
 </style>
<![endif]--> */
/* 识别ie浏览器 */
 @media all and (-ms-high-contrast: none),
 (-ms-high-contrast: active) {

   /* IE10+ CSS styles go here */
   .el-scrollbar__wrap {
     scrollbar-width: none;
   }

   .el-scrollbar__wrap {
     -ms-scroll-chaining: chained;
     -ms-overflow-style: none;
     -ms-content-zooming: zoom;
     -ms-scroll-rails: none;
     -ms-content-zoom-limit-min: 100%;
     -ms-content-zoom-limit-max: 500%;
     -ms-scroll-snap-type: proximity;
     -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
     -ms-overflow-style: none;
     overflow: auto;
   }
   .audiofig >audio{
      margin-top: 36%;
      margin-left: 0%;
  }
 }
/* 识别火狐浏览器 */
 @-moz-document url-prefix(){
   .mytable-scrollbar {
     /* scrollbar-width: none; */
     overflow-y: hidden;
   }
 }